<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="header">Tell me what you ate.</div>
<div class="overall">
    <input type="text" name="kindOfFoodParameter" placeholder="Kind of food">
    <input type="text" name="nameOfFoodParameter" placeholder="Name of food">
    <input type="text" name="amountParameter" placeholder="Amount">
    <input type="text" name="ifHealthyParameter" placeholder="Is it healthy?">
    <input type="submit" value="Add to the database">
</div>
</body>
</html>